body  {
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: graytext;
}

#content {
  margin: auto;
  background: url("../img/fondo2.jpg");
}

#cabecera {
  background: url("../img/fondo1.jpg");
  color:  white;
  height: 125px;
}

#cabecera h1 {
  padding: 25px;
  font: bold 20pt Arial;
  float:  left;
  margin-top: 25px;
  margin-left: 50px;
}

#cabecera img {
  float: right;
}

#navegar {
  float:  left;
  width:  20%;
  list-style: none;
  font-family: Arial,sans-serif;
  font-size:  medium;
  text-align: center;
}

#navegar a {
  padding:  5px;
  color:  white;
  font: 12pt/25pt Arial;
}

#navegar a:hover {
  background-color: white;
  color:  #faebd7;
}

#main {
  background-color: #f5f5f5;
  margin-left: 20%;
  padding: 5px;
  text-align: justify;
}

#main h2 {
  font: bold 18pt/22pt Arial;
  background-color: gray;
}

#main p {
  font: 10pt/15pt Arial;
  margin: 2px 2px 5px;
  color: gray;
}

/*#menu1, #menu2, #menu3 {*/
  /*display:  none;*/
/*}*/

#footer {
  background: url("../img/fondo1.jpg");
  margin: auto;
  height: 20%;
  font: bold 15px/20px Arial;
  color:  white;
 }